In [1]:
# Dependencies and Setup:
import pandas as pd
import numpy as np
import csv

In [2]:
# URL: https://irma.nps.gov/STATS/SSRSReports/National%20Reports/Annual%20Visitation%20By%20Park%20(1979
# %20-%20Last%20Calendar%20Year)

# Import "Annual_Visitation_By_Park_1979.csv" csv file:
irma_1979_df = pd.read_csv("./Resources/IRMA/1979/Annual_Visitation_By_Park_1979.csv")

# Print preview of "irma_1979_df" (Annual_Visitation_By_Park_1979) DataFrame from imported csv file:
irma_1979_df

,Park Name,1979 Recreational Visits,1979 Average Recreational Visits,1979 Non-Recreational Visits,1979 Average Non-Recreational Visits,1979 Recreational Hours,1979 Average Recreational Hours,1979 Non-Recreational Hours,1979 Average Non-Recreational Hours,1979 Concessioner Lodging,...,1979 Tent Overnights,1979 Average Tent Overnights,1979 RV Overnights,1979 Average RV Overnights,1979 Backcountry Overnights,1979 Average Backcountry Overnights,1979 Non-recreational Overnights,1979 Average Non-recreational Overnights,1979 Miscellaneous Overnights,1979 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"271,231","271,231",0,0,"271,231","271,231",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,787,366","2,787,366","395,913","395,913","17,155,530","17,155,530","198,056","198,056",0,...,"139,708","139,708","74,279","74,279",0,0,0,0,0,0
2,Adams NHP,"34,322","34,322","12,200","12,200","25,739","25,739","22,500","22,500",0,...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"8,115","8,115",31,31,"8,532","8,532",46,46,0,...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"1,922","1,922",0,0,"4,805","4,805",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Wright Brothers NMEM,"396,322","396,322","2,184","2,184","324,134","324,134","1,083","1,083",0,...,0,0,0,0,0,0,0,0,0,0
262,Wupatki NM,"186,875","186,875","4,626","4,626","207,981","207,981","6,210","6,210",0,...,0,0,0,0,142,142,0,0,0,0
263,Yellowstone NP,"1,892,908","1,892,908","2,261","2,261","51,909,649","51,909,649","18,088","18,088","537,607",...,"219,297","219,297","358,266","358,266","46,142","46,142",0,0,"10,199","10,199"
264,Yosemite NP,"2,350,782","2,350,782","90,603","90,603","63,510,069","63,510,069","2,350,087","2,350,087","881,342",...,"282,075","282,075","273,374","273,374","72,901","72,901",0,0,0,0
265,Zion NP,"1,040,528","1,040,528","105,015","105,015","7,711,052","7,711,052","105,015","105,015","41,562",...,"69,712","69,712","95,746","95,746","8,964","8,964",0,0,"10,492","10,492"

In [3]:
# Import "Annual_Visitation_By_Park_1980_to_1989.csv" csv file:
irma_1980_to_1989_df = pd.read_csv("./Resources/IRMA/1980_to_1989/Annual_Visitation_By_Park_1980_to_1989.csv")

# Print preview of "irma_1980_to_1989_df" (Annual_Visitation_By_Park_1980_to_1989) DataFrame from imported csv file:
irma_1980_to_1989_df

,Park Name,1980 Recreational Visits,1981 Recreational Visits,1982 Recreational Visits,1983 Recreational Visits,1984 Recreational Visits,1985 Recreational Visits,1986 Recreational Visits,1987 Recreational Visits,1988 Recreational Visits,...,1981 Miscellaneous Overnights,1982 Miscellaneous Overnights,1983 Miscellaneous Overnights,1984 Miscellaneous Overnights,1985 Miscellaneous Overnights,1986 Miscellaneous Overnights,1987 Miscellaneous Overnights,1988 Miscellaneous Overnights,1989 Miscellaneous Overnights,1980 - 1989 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"239,074","252,245","318,707","256,126","258,023","264,905","280,620","292,825","288,324",...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,779,666","2,997,972","3,572,114","4,124,639","3,734,763","3,745,570","3,929,054","4,288,154","4,502,283",...,0,0,0,0,0,0,0,0,0,0
2,Adams NHP,"24,974","27,055","25,440","26,162","23,398","24,555","24,693","25,617","21,617",...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"8,330","9,459","9,018","10,097","10,317","10,366","10,187","11,439","11,156",...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"2,211","2,384","2,398","1,919","2,251","2,200","2,202","2,494","2,140",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Yellowstone NP,"2,000,269","2,521,831","2,368,897","2,347,242","2,222,027","2,226,159","2,363,756","2,573,194","2,182,113",...,"12,583","10,469","8,584","10,730","7,744","9,275","7,237","4,814","9,198","9,075"
309,Yosemite NP,"2,490,282","2,516,893","2,415,587","2,457,464","2,738,467","2,831,952","2,876,717","3,152,275","3,216,681",...,0,0,0,0,0,0,0,0,0,0
310,Yukon-Charley Rivers NPRES,NaN,NaN,697,955,988,"2,073","1,707","1,789","1,255",...,NaN,0,0,0,0,0,0,0,0,0
311,Zion NP,"1,123,846","1,288,808","1,246,290","1,273,030","1,377,254","1,503,272","1,670,503","1,777,619","1,948,332",...,"11,459","9,924","12,542","11,860","13,201","11,214","14,722","12,150","11,764","12,038"
312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Import "Annual_Visitation_By_Park_1990_to_1999.csv" csv file:
irma_1990_to_1999_df = pd.read_csv("./Resources/IRMA/1990_to_1999/Annual_Visitation_By_Park_1990_to_1999.csv")

# Print preview of "irma_1990_to_1999_df" (Annual_Visitation_By_Park_1990_to_1999) DataFrame from imported csv file:
irma_1990_to_1999_df

,Park Name,1990 Recreational Visits,1991 Recreational Visits,1992 Recreational Visits,1993 Recreational Visits,1994 Recreational Visits,1995 Recreational Visits,1996 Recreational Visits,1997 Recreational Visits,1998 Recreational Visits,...,1991 Miscellaneous Overnights,1992 Miscellaneous Overnights,1993 Miscellaneous Overnights,1994 Miscellaneous Overnights,1995 Miscellaneous Overnights,1996 Miscellaneous Overnights,1997 Miscellaneous Overnights,1998 Miscellaneous Overnights,1999 Miscellaneous Overnights,1990 - 1999 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"307,669","316,945","302,739","293,710","279,542","268,509","249,344","262,889","250,842",...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,339,591","2,475,857","2,382,113","2,656,034","2,710,749","2,845,378","2,704,831","2,760,306","2,594,497",...,"9,581","9,796","10,518","10,511","10,476","9,512","10,286","11,111","10,218","10,176"
2,Adams NHP,"20,315","26,958","27,400","43,877","41,179","47,312","38,230","56,643","63,569",...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"14,482","13,891","18,785","19,467","18,970","18,719","16,567","20,596","17,594",...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"3,418","3,812","3,419","3,155","3,392","2,769","3,276","3,363","3,293",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,Yosemite NP,"3,124,939","3,423,101","3,819,518","3,839,645","3,962,117","3,958,406","4,046,207","3,669,970","3,657,132",...,0,0,"66,332","75,804","59,286","63,279","26,111","20,101","22,442","33,336"
340,Yukon-Charley Rivers NPRES,"1,965","2,050","2,430","1,951",646,658,"1,005","1,856","4,451",...,0,0,0,0,0,0,0,0,0,0
341,Zion NP,"2,102,400","2,236,997","2,390,626","2,392,580","2,270,871","2,430,162","2,498,001","2,445,534","2,370,048",...,"15,828","16,296","17,001","17,909","15,722","14,205","13,358","14,734","13,712","15,276"
342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Import "Annual_Visitation_By_Park_2000_to_2009.csv" csv file:
irma_2000_to_2009_df = pd.read_csv("./Resources/IRMA/2000_to_2009/Annual_Visitation_By_Park_2000_to_2009.csv")

# Print preview of "irma_2000_to_2009_df" (Annual_Visitation_By_Park_2000_to_2009) DataFrame from imported csv file:
irma_2000_to_2009_df

,Park Name,2000 Recreational Visits,2001 Recreational Visits,2002 Recreational Visits,2003 Recreational Visits,2004 Recreational Visits,2005 Recreational Visits,2006 Recreational Visits,2007 Recreational Visits,2008 Recreational Visits,...,2001 Miscellaneous Overnights,2002 Miscellaneous Overnights,2003 Miscellaneous Overnights,2004 Miscellaneous Overnights,2005 Miscellaneous Overnights,2006 Miscellaneous Overnights,2007 Miscellaneous Overnights,2008 Miscellaneous Overnights,2009 Miscellaneous Overnights,2000 - 2009 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"236,180","229,675","250,772","211,650","201,828","190,809","200,054","202,950","200,404",...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,469,238","2,516,551","2,558,572","2,431,062","2,207,847","2,051,484","2,083,588","2,202,228","2,075,857",...,"10,382","11,262","9,693","8,618","5,378","7,300","7,352","6,698","7,212","8,364"
2,Adams NHP,"87,347","167,500","173,944","215,659","239,504","220,467","225,318","224,880","241,536",...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"17,933","17,399","17,129","16,233","15,235","14,209","13,521","12,997","12,425",...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"3,131","2,456","2,125","1,811","2,012","2,919","1,882","4,028","2,297",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,Yosemite NP,"3,400,903","3,368,731","3,361,867","3,378,664","3,280,911","3,304,144","3,242,644","3,503,428","3,431,514",...,"24,446","24,250","24,563","25,631","17,421","31,331","17,208","22,982","34,379","24,652"
358,Yukon-Charley Rivers NPRES,"3,677","6,571","5,144","5,552","4,260","12,784","12,083","11,567","4,942",...,0,0,0,0,0,0,0,0,0,0
359,Zion NP,"2,432,348","2,217,779","2,592,545","2,458,792","2,677,342","2,586,665","2,567,350","2,657,281","2,690,154",...,"11,274","12,478","12,812","13,858","13,907","15,332","14,438","17,352","19,726","14,384"
360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Import "Annual_Visitation_By_Park_2010_to_2019.csv" csv file:
irma_2010_to_2019_df = pd.read_csv("./Resources/IRMA/2010_to_2019/Annual_Visitation_By_Park_2010_to_2019.csv")

# Print preview of "irma_2010_to_2019_df" (Annual_Visitation_By_Park_2010_to_2019) DataFrame from imported csv file:
irma_2010_to_2019_df

,Park Name,2010 Recreational Visits,2011 Recreational Visits,2012 Recreational Visits,2013 Recreational Visits,2014 Recreational Visits,2015 Recreational Visits,2016 Recreational Visits,2017 Recreational Visits,2018 Recreational Visits,...,2011 Miscellaneous Overnights,2012 Miscellaneous Overnights,2013 Miscellaneous Overnights,2014 Miscellaneous Overnights,2015 Miscellaneous Overnights,2016 Miscellaneous Overnights,2017 Miscellaneous Overnights,2018 Miscellaneous Overnights,2019 Miscellaneous Overnights,2010 - 2019 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"177,122","163,568","169,515","163,928","241,264","148,605","252,495","269,580","260,964",...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,504,208","2,374,645","2,431,052","2,254,922","2,563,129","2,811,184","3,303,393","3,509,271","3,537,575",...,"7,243","8,083","7,047","8,474","8,343","8,563","10,889","11,698","11,674","9,056"
2,Adams NHP,"73,339","219,975","336,031","285,501","178,468","183,632","199,301","255,562","121,007",...,0,0,0,0,0,0,0,0,0,0
3,African Burial Ground NM,"117,113","108,585","77,624","93,234","54,861","56,348","46,526","43,182","45,035",...,0,0,0,0,0,0,0,0,0,0
4,Agate Fossil Beds NM,"12,509","11,617","11,824","10,504","12,440","13,264","15,555","32,038","16,238",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Yellowstone NP,"3,640,185","3,394,326","3,447,729","3,188,030","3,513,484","4,097,710","4,257,177","4,116,524","4,115,000",...,"14,795","11,774","11,537","8,519","11,715","10,986","14,270","11,815","9,907","12,121"
376,Yosemite NP,"3,901,408","3,951,393","3,853,404","3,691,191","3,882,642","4,150,217","5,028,868","4,336,890","4,009,436",...,"29,673","32,708","29,668","50,545","39,214","51,542","26,166","16,667","30,411","34,753"
377,Yukon-Charley Rivers NPRES,"6,211","1,718","1,393","3,914","2,329","1,133","1,146",952,"1,272",...,0,0,0,0,0,0,0,0,0,0
378,Zion NP,"2,665,972","2,825,505","2,973,607","2,807,387","3,189,696","3,648,846","4,295,127","4,504,812","4,320,033",...,"19,904","19,592","20,189","21,306","18,962","16,103","22,705","23,741","21,619","20,493"
379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Perform an "outer merge" using Pandas, (also referred to as a “full outer join” or just “outer join”).
# Joining "irma_1979_df" and "irma_1980_to_1989_df" via "outer merge":
irma_1979_through_1989_df = pd.merge(irma_1979_df, irma_1980_to_1989_df, on = 'Park Name', how = 'outer')

print("There are {} unique values of 'Park Name' in the dataframes."
      .format(pd.concat([irma_1979_df['Park Name'], irma_1980_to_1989_df['Park Name']]).unique().shape[0]))

print("Outer merge result has ('rows', 'columns') = {}."
      .format(irma_1979_through_1989_df.shape))

print("There are {} rows with no missing values."
      .format((irma_1979_through_1989_df.apply(lambda x: x.isnull().sum(), axis = 1) == 0).sum()))

There are 313 unique values of 'Park Name' in the dataframes.
Outer merge result has ('rows', 'columns') = (313, 144).
There are 266 rows with no missing values.

In [8]:
# Print "irma_1979_through_1989_df" to verify data merged:
irma_1979_through_1989_df

,Park Name,1979 Recreational Visits,1979 Average Recreational Visits,1979 Non-Recreational Visits,1979 Average Non-Recreational Visits,1979 Recreational Hours,1979 Average Recreational Hours,1979 Non-Recreational Hours,1979 Average Non-Recreational Hours,1979 Concessioner Lodging,...,1981 Miscellaneous Overnights,1982 Miscellaneous Overnights,1983 Miscellaneous Overnights,1984 Miscellaneous Overnights,1985 Miscellaneous Overnights,1986 Miscellaneous Overnights,1987 Miscellaneous Overnights,1988 Miscellaneous Overnights,1989 Miscellaneous Overnights,1980 - 1989 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"271,231","271,231",0,0,"271,231","271,231",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,787,366","2,787,366","395,913","395,913","17,155,530","17,155,530","198,056","198,056",0,...,0,0,0,0,0,0,0,0,0,0
2,Adams NHP,"34,322","34,322","12,200","12,200","25,739","25,739","22,500","22,500",0,...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"8,115","8,115",31,31,"8,532","8,532",46,46,0,...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"1,922","1,922",0,0,"4,805","4,805",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,War in the Pacific NHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0
309,Women's Rights NHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
310,Wrangell-St. Elias NP & PRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,117,0,0,0,0,0,0,0,15
311,Yukon-Charley Rivers NPRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Perform an "outer merge" using Pandas, (also referred to as a “full outer join” or just “outer join”).
# Joining "irma_1979_through_1989_df" and "irma_1990_to_1999_df" via "outer merge":
irma_1979_through_1999_df = pd.merge(irma_1979_through_1989_df, irma_1990_to_1999_df, on = 'Park Name', how = 'outer')

print("There are {} unique values of 'Park Name' in the dataframes."
      .format(pd.concat([irma_1979_through_1989_df['Park Name'], irma_1990_to_1999_df['Park Name']]).unique().shape[0]))

print("Outer merge result has ('rows', 'columns') = {}."
      .format(irma_1979_through_1999_df.shape))

print("There are {} rows with no missing values."
      .format((irma_1979_through_1999_df.apply(lambda x: x.isnull().sum(), axis = 1) == 0).sum()))

There are 343 unique values of 'Park Name' in the dataframes.
Outer merge result has ('rows', 'columns') = (344, 265).
There are 264 rows with no missing values.

In [10]:
# Print "irma_1979_through_1999_df" to verify data merged:
irma_1979_through_1999_df

,Park Name,1979 Recreational Visits,1979 Average Recreational Visits,1979 Non-Recreational Visits,1979 Average Non-Recreational Visits,1979 Recreational Hours,1979 Average Recreational Hours,1979 Non-Recreational Hours,1979 Average Non-Recreational Hours,1979 Concessioner Lodging,...,1991 Miscellaneous Overnights,1992 Miscellaneous Overnights,1993 Miscellaneous Overnights,1994 Miscellaneous Overnights,1995 Miscellaneous Overnights,1996 Miscellaneous Overnights,1997 Miscellaneous Overnights,1998 Miscellaneous Overnights,1999 Miscellaneous Overnights,1990 - 1999 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"271,231","271,231",0,0,"271,231","271,231",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,787,366","2,787,366","395,913","395,913","17,155,530","17,155,530","198,056","198,056",0,...,"9,581","9,796","10,518","10,511","10,476","9,512","10,286","11,111","10,218","10,176"
2,Adams NHP,"34,322","34,322","12,200","12,200","25,739","25,739","22,500","22,500",0,...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"8,115","8,115",31,31,"8,532","8,532",46,46,0,...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"1,922","1,922",0,0,"4,805","4,805",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,Tallgrass Prairie NPRES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
340,Thomas Stone NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
341,Timucuan EHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
342,Ulysses S. Grant NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
343,Weir Farm NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0

In [11]:
# Perform an "outer merge" using Pandas, (also referred to as a “full outer join” or just “outer join”).
# Joining "irma_1979_through_1999_df" and "irma_2000_to_2009_df" via "outer merge":
irma_1979_through_2009_df = pd.merge(irma_1979_through_1999_df, irma_2000_to_2009_df, on = 'Park Name', how = 'outer')

print("There are {} unique values of 'Park Name' in the dataframes."
      .format(pd.concat([irma_1979_through_1999_df['Park Name'], irma_2000_to_2009_df['Park Name']]).unique().shape[0]))

print("Outer merge result has ('rows', 'columns') = {}."
      .format(irma_1979_through_2009_df.shape))

print("There are {} rows with no missing values."
      .format((irma_1979_through_2009_df.apply(lambda x: x.isnull().sum(), axis = 1) == 0).sum()))

There are 361 unique values of 'Park Name' in the dataframes.
Outer merge result has ('rows', 'columns') = (364, 386).
There are 264 rows with no missing values.

In [12]:
# Print "irma_1979_through_2009_df" to verify data merged:
irma_1979_through_2009_df

,Park Name,1979 Recreational Visits,1979 Average Recreational Visits,1979 Non-Recreational Visits,1979 Average Non-Recreational Visits,1979 Recreational Hours,1979 Average Recreational Hours,1979 Non-Recreational Hours,1979 Average Non-Recreational Hours,1979 Concessioner Lodging,...,2001 Miscellaneous Overnights,2002 Miscellaneous Overnights,2003 Miscellaneous Overnights,2004 Miscellaneous Overnights,2005 Miscellaneous Overnights,2006 Miscellaneous Overnights,2007 Miscellaneous Overnights,2008 Miscellaneous Overnights,2009 Miscellaneous Overnights,2000 - 2009 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"271,231","271,231",0,0,"271,231","271,231",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,787,366","2,787,366","395,913","395,913","17,155,530","17,155,530","198,056","198,056",0,...,"10,382","11,262","9,693","8,618","5,378","7,300","7,352","6,698","7,212","8,364"
2,Adams NHP,"34,322","34,322","12,200","12,200","25,739","25,739","22,500","22,500",0,...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"8,115","8,115",31,31,"8,532","8,532",46,46,0,...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"1,922","1,922",0,0,"4,805","4,805",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,Palo Alto Battlefield NHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
360,Salt River Bay NHP & Ecological Pres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
361,Tuskegee Airmen NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
362,Washita Battlefield NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
363,World War II Memorial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0

In [13]:
# Perform an "outer merge" using Pandas, (also referred to as a “full outer join” or just “outer join”).
# Joining "irma_1979_through_2009_df" and "irma_2010_to_2019_df" via "outer merge":
irma_1979_through_2019_df = pd.merge(irma_1979_through_2009_df, irma_2010_to_2019_df, on = 'Park Name', how = 'outer')

print("There are {} unique values of 'Park Name' in the dataframes."
      .format(pd.concat([irma_1979_through_2009_df['Park Name'], irma_2010_to_2019_df['Park Name']]).unique().shape[0]))

print("Outer merge result has ('rows', 'columns') = {}."
      .format(irma_1979_through_2019_df.shape))

print("There are {} rows with no missing values."
      .format((irma_1979_through_2019_df.apply(lambda x: x.isnull().sum(), axis = 1) == 0).sum()))

There are 380 unique values of 'Park Name' in the dataframes.
Outer merge result has ('rows', 'columns') = (383, 507).
There are 264 rows with no missing values.

In [14]:
# Print "irma_1979_through_2019_df" to verify data merged:
irma_1979_through_2019_df

,Park Name,1979 Recreational Visits,1979 Average Recreational Visits,1979 Non-Recreational Visits,1979 Average Non-Recreational Visits,1979 Recreational Hours,1979 Average Recreational Hours,1979 Non-Recreational Hours,1979 Average Non-Recreational Hours,1979 Concessioner Lodging,...,2011 Miscellaneous Overnights,2012 Miscellaneous Overnights,2013 Miscellaneous Overnights,2014 Miscellaneous Overnights,2015 Miscellaneous Overnights,2016 Miscellaneous Overnights,2017 Miscellaneous Overnights,2018 Miscellaneous Overnights,2019 Miscellaneous Overnights,2010 - 2019 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"271,231","271,231",0,0,"271,231","271,231",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,787,366","2,787,366","395,913","395,913","17,155,530","17,155,530","198,056","198,056",0,...,"7,243","8,083","7,047","8,474","8,343","8,563","10,889","11,698","11,674","9,056"
2,Adams NHP,"34,322","34,322","12,200","12,200","25,739","25,739","22,500","22,500",0,...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"8,115","8,115",31,31,"8,532","8,532",46,46,0,...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"1,922","1,922",0,0,"4,805","4,805",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,Rosie The Riveter WWII Home Front NHP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
379,Saint Croix Island IHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
380,Sand Creek Massacre NHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
381,Stonewall NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0
382,Waco Mammoth NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,0,0,0,0

In [15]:
# # Print ALL columns & rows of the "irma_1979_through_2019_df" DataFrame (show all columns & rows,
# # instead of a truncated list):
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

# # Print the "irma_1979_through_2019_df" DataFrame (all columns & rows should appear if the above "pd.set_option"
# # lines are enabled):
# irma_1979_through_2019_df

In [16]:
# Print out the shape of the DataFrame, "irma_1979_through_2019_df":
print("Outer merge result has ('rows', 'columns') = {}."
      .format(irma_1979_through_2019_df.shape))

Outer merge result has ('rows', 'columns') = (383, 507).

In [17]:
# Replace all "NaN" values with "zeros" for the entire DataFrame, "irma_1979_through_2019_df", using Numpy:
irma_1979_through_2019_df= irma_1979_through_2019_df.replace(np.nan,0)
irma_1979_through_2019_df

,Park Name,1979 Recreational Visits,1979 Average Recreational Visits,1979 Non-Recreational Visits,1979 Average Non-Recreational Visits,1979 Recreational Hours,1979 Average Recreational Hours,1979 Non-Recreational Hours,1979 Average Non-Recreational Hours,1979 Concessioner Lodging,...,2011 Miscellaneous Overnights,2012 Miscellaneous Overnights,2013 Miscellaneous Overnights,2014 Miscellaneous Overnights,2015 Miscellaneous Overnights,2016 Miscellaneous Overnights,2017 Miscellaneous Overnights,2018 Miscellaneous Overnights,2019 Miscellaneous Overnights,2010 - 2019 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"271,231","271,231",0,0,"271,231","271,231",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,787,366","2,787,366","395,913","395,913","17,155,530","17,155,530","198,056","198,056",0,...,"7,243","8,083","7,047","8,474","8,343","8,563","10,889","11,698","11,674","9,056"
2,Adams NHP,"34,322","34,322","12,200","12,200","25,739","25,739","22,500","22,500",0,...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"8,115","8,115",31,31,"8,532","8,532",46,46,0,...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"1,922","1,922",0,0,"4,805","4,805",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,Rosie The Riveter WWII Home Front NHP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
379,Saint Croix Island IHS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
380,Sand Creek Massacre NHS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
381,Stonewall NM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382,Waco Mammoth NM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# One row of "NaN" values was generated in the output DataFrame each time an "outer merge" was performed (above).
# Removing these "NaN" / "zero value" rows from the DataFrame, "irma_1979_through_2019_df":
irma_1979_through_2019_df.drop([312, 313, 314, 315], inplace = True)
irma_1979_through_2019_df

,Park Name,1979 Recreational Visits,1979 Average Recreational Visits,1979 Non-Recreational Visits,1979 Average Non-Recreational Visits,1979 Recreational Hours,1979 Average Recreational Hours,1979 Non-Recreational Hours,1979 Average Non-Recreational Hours,1979 Concessioner Lodging,...,2011 Miscellaneous Overnights,2012 Miscellaneous Overnights,2013 Miscellaneous Overnights,2014 Miscellaneous Overnights,2015 Miscellaneous Overnights,2016 Miscellaneous Overnights,2017 Miscellaneous Overnights,2018 Miscellaneous Overnights,2019 Miscellaneous Overnights,2010 - 2019 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"271,231","271,231",0,0,"271,231","271,231",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,787,366","2,787,366","395,913","395,913","17,155,530","17,155,530","198,056","198,056",0,...,"7,243","8,083","7,047","8,474","8,343","8,563","10,889","11,698","11,674","9,056"
2,Adams NHP,"34,322","34,322","12,200","12,200","25,739","25,739","22,500","22,500",0,...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"8,115","8,115",31,31,"8,532","8,532",46,46,0,...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"1,922","1,922",0,0,"4,805","4,805",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,Rosie The Riveter WWII Home Front NHP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
379,Saint Croix Island IHS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
380,Sand Creek Massacre NHS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
381,Stonewall NM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
382,Waco Mammoth NM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# Reset the index of the "irma_1979_through_2019_df" DataFrame so that the index increments by one for each row of data:
irma_1979_through_2019_df.reset_index(drop = True, inplace = True)
irma_1979_through_2019_df

,Park Name,1979 Recreational Visits,1979 Average Recreational Visits,1979 Non-Recreational Visits,1979 Average Non-Recreational Visits,1979 Recreational Hours,1979 Average Recreational Hours,1979 Non-Recreational Hours,1979 Average Non-Recreational Hours,1979 Concessioner Lodging,...,2011 Miscellaneous Overnights,2012 Miscellaneous Overnights,2013 Miscellaneous Overnights,2014 Miscellaneous Overnights,2015 Miscellaneous Overnights,2016 Miscellaneous Overnights,2017 Miscellaneous Overnights,2018 Miscellaneous Overnights,2019 Miscellaneous Overnights,2010 - 2019 Average Miscellaneous Overnights
0,Abraham Lincoln Birthplace NHP,"271,231","271,231",0,0,"271,231","271,231",0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Acadia NP,"2,787,366","2,787,366","395,913","395,913","17,155,530","17,155,530","198,056","198,056",0,...,"7,243","8,083","7,047","8,474","8,343","8,563","10,889","11,698","11,674","9,056"
2,Adams NHP,"34,322","34,322","12,200","12,200","25,739","25,739","22,500","22,500",0,...,0,0,0,0,0,0,0,0,0,0
3,Agate Fossil Beds NM,"8,115","8,115",31,31,"8,532","8,532",46,46,0,...,0,0,0,0,0,0,0,0,0,0
4,Alibates Flint Quarries NM,"1,922","1,922",0,0,"4,805","4,805",0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,Rosie The Riveter WWII Home Front NHP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
375,Saint Croix Island IHS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376,Sand Creek Massacre NHS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
377,Stonewall NM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
378,Waco Mammoth NM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# Export the "irma_1979_through_2019_df" DataFrame to a CSV file named "IntegratedResourceManagementApplications(IRMA)_US_NationalParks_VisitorsData.csv":
output_data_file = "./output_data/IntegratedResourceManagementApplications(IRMA)_US_NationalParks_VisitorsData.csv"
irma_1979_through_2019_df.to_csv(output_data_file, index = False, header = True)